<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassServlet</servlet-name>
        <servlet-class>controller.ChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>AdminController.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>AdminController.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchServlet</servlet-name>
        <servlet-class>AdminController.UserSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashBoardServlet</servlet-name>
        <servlet-class>AdminController.AdminDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingDashBoardServlet</servlet-name>
        <servlet-class>MarketingController.MarketingDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashBoardServlet</servlet-name>
        <servlet-class>SaleController.SaleDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificationEmail</servlet-name>
        <servlet-class>controller.VerificationEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassServlet</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/userdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashBoardServlet</servlet-name>
        <url-pattern>/admindashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingDashBoardServlet</servlet-name>
        <url-pattern>/marketingdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashBoardServlet</servlet-name>
        <url-pattern>/saledashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificationEmail</servlet-name>
        <url-pattern>/verificationemail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
